<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div data-react-class="Post" data-react-props='{"title": "Demo for gem react-rails-img","body": "Simple image helpers for the rails project using react"}'></div>
